body {
    width: 100vw;
}

nav {
    height: 2em;
    background-color: #5e0856;
    display: flex;
    flex-direction: row-reverse;
    font-family: "Bell MT";
}

footer {
    height: 2em;
    background-color: #480342;
}

.mainDiv{
    height: 100vh;
    background-color: #5e0856;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    margin: 1em;
    color: yellow;
}

.links {
    display: flex;
}

.link {
    align-items: center;
    font-size: 2em;
    margin: 1em;
    text-decoration: none !important;
}

.link_text {
    color: aliceblue;;
}

.icon {
    color: cyan;
}

.site-search {
    margin-top: 2.2em;
    padding: 1em;
    direction: rtl;
    background-color: #480342;
    color: aliceblue;
    font-size: medium;
    outline: none;
    min-width: 20em;
    max-width: 40em;
}